@use "../utils/mixins.scss";
@use "../utils/colors.scss";
.banner img {
    display: block;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    @media (min-width: 1024px) {
        height: 70vh;
    }
}
.resto_1 {
    background: colors.$lightgrey;
    margin-top: -4rem;
    h2 {
        font-family: "Shrikhand", "sans-serif";
        padding: 2rem 1rem;
        @include mixins.heart-animated;
        border-radius: 2rem 2rem 0 0;

    }
}
